@import '@schedule-x/theme-default/dist/calendar.css';
html, body {
  height: 100%;
  margin: 0;
  background: #f4f4f6;
}
* { box-sizing: border-box; }
:root {
  --sx-color-primary-container: #6b5bd6 !important;

  --pastel-blue: #c4ddff;
  --pastel-blue-border: #8bb4ff;

  --text-dark: #2f2f2f;
  --text-light: #7d7d7d;
}
